@font-face {
    font-family: "RF Dewi Expanded";
    src:
        url("/font/RFDewiExpanded-Ultrabold.woff") format("woff"),
        url("/font/RFDewiExpanded-Ultrabold.woff2") format("woff2");
    font-weight: 800;
}
